.auth-form {
  border: none !important;
  background-color: var(--primary);
  width: 70%;
  height: 420px;
  border-radius: 12px;
}

#register-form {
  height: 480px;
}

.submit-btn {
  background-color: var(--accent);
  color: #ffffff;
  padding: 8px 0;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  width: 100%;
}

.submit-btn:hover {
  background-color: #015e28;
}

.link-btn {
  color: #ffffff;
  width: 100%;
  border: solid 2px var(--secondary);
  border-radius: 8px;
  padding: 8px 0;
  background-color: transparent;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.link-btn:hover {
  background-color: #ffffff;
  color: var(--primary);
}

@media (min-width: 768px) {
  .auth-form {
    width: 500px;
    height: 430px;
  }

  #register-form {
    height: 530px;
  }
}
