#feed-boxes {
  background-color: var(--primary);
  width: 95%;
  margin: 0 auto;
  padding: 22px 12px;
}

#create-form-field {
  background-color: var(--form-fields);
  border: solid 1px var(--secondary);
}

#create-form-field::placeholder {
  color: #737373;
}
