@import url(_reset.css);
@import url(auth.css);
@import url(edit.css);
@import url(profile.css);

/* General styling */
:root {
  --background: #101010;
  --primary: #222222;
  --secondary: #474747;
  --accent: #00c853;
  --form-fields: #1a1a1a;
  --font-size-base: 16px;
}

body {
  background-color: var(--background);
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

header {
  border-bottom: solid 1px var(--secondary);
}

.main-heading {
  font-size: 32px;
}

.main-forms input {
  background-color: var(--form-fields);
  border: solid 1px var(--secondary);
  color: #ffffff !important;
}

/* Navigation bar */
.logo {
  font-family: "Italiana", sans-serif;
  background: linear-gradient(to right, var(--accent), #ffd500 85%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.7rem;
}

.search {
  background-color: var(--primary);
  border: none;
  width: 80%;
}

.search::placeholder {
  color: #737373;
}

.search:focus {
  outline: none;
  border: solid 2px var(--secondary);
  background-color: var(--primary);
  color: #ffffff;
  box-shadow: none;
}

.icon-wrapper::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 130%;
  height: 4px;
  background-color: var(--accent);
  border-radius: 2px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.icon-wrapper:hover::after {
  opacity: 1;
}

.nav-icon-desktop {
  font-size: 1.5rem;
}

.nav-link:hover {
  color: var(--accent) !important;
}

#menu-toggle-icon {
  font-size: 1.7rem;
}

.navbar .nav-link.active {
  color: var(--accent) !important;
}

.navbar .nav-link.active .icon-wrapper::after {
  opacity: 1;
}

.dropdown-item.active {
  color: var(--accent);
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
  background-color: var(--primary);
  padding: 0;
  margin-left: -80px;
}

.dropdown-item {
  color: #ffffff;
  padding: 10px 20px;
}

/* Media Queries */
@media (min-width: 576px) {
  .logo {
    font-size: 1.8rem;
  }

  .main-heading {
    font-size: 38px;
  }
}

@media (min-width: 768px) {
  .logo {
    font-size: 2rem;
  }

  .nav-icon-desktop {
    font-size: 1.6rem;
  }
}

@media (min-width: 998px) {
  .logo {
    font-size: 40px;
  }

  .nav-icon-desktop {
    font-size: 1.9rem;
  }

  .main-heading {
    font-size: 46px;
  }
}
